<h1>The Product Application</h1>

<div>
    <form name="productForm" [formGroup] = "productForm" (ngSubmit)="save()">
        <div>
            <label>Product Row Id</label>
            <input type="text" formControlName="ProductRowId" name="ProductRowId">
            <div *ngIf="productForm.controls.ProductRowId.dirty && !productForm.controls.ProductRowId.valid">
                <p *ngIf="productForm.controls.ProductRowId.errors.required">Value is must</p>
                <p *ngIf="productForm.controls.ProductRowId.errors.minlength">Value must be 2 digits minimum</p>
                <p *ngIf="productForm.controls.ProductRowId.errors.maxlength">Value can be 8 digits maximum</p>
                <p *ngIf="productForm.controls.ProductRowId.errors.pattern">Value must be numeric</p>
                <p *ngIf="productForm.controls.ProductRowId.errors.odd">Value must be even</p>
            </div>
        </div>
        <div>
            <label>Product Id</label>
            <input type="text" formControlName="ProductId" name="ProductId" (keyup) = "validate($event)">
            <div *ngIf="productForm.controls.ProductId.dirty && !productForm.controls.ProductId.valid">
                <p *ngIf="productForm.controls.ProductId.errors.exists">Product Id already exists. Provide new ProductId</p>
                <p *ngIf="productForm.controls.ProductId.errors.required">value is must</p>
            </div>
        </div>  
        <div>
            <label>Product Name</label>
            <input type="text" formControlName="ProductName" name="ProductName">
            <div *ngIf="productForm.controls.ProductName.dirty && !productForm.controls.ProductName.valid">
                <p *ngIf="productForm.controls.ProductName.errors.required">Value is must</p>
            </div>
        </div>
        <div>
            <label>Categories</label>
            <select formControlName="CategoryName" name="CategoryName">
                <option *ngFor="let c of categories" value="{{c}}">{{c}}</option>
             </select>
             <div *ngIf="productForm.controls.CategoryNamedirty && !productForm.controls.CategoryName.valid">
                <p *ngIf="productForm.controls.CategoryName.errors.required">Value is must</p>
            </div>
        </div>
        
        <div>
            <label>Manufacturers</label>
            <select formControlName="Manufacturer" name="Manufacturer">
                <option *ngFor="let m of manufacturers" value="{{m}}">{{m}}</option>
            </select>   
            <div *ngIf="productForm.controls.Manufacturer.dirty && !productForm.controls.Manufacturer.valid">
                <p *ngIf="productForm.controls.Manufacturer.errors.required">Value is must</p>
            </div>
        </div>
        <div>
            <label>Description</label>
            <input formControlName="Description" name="Description" type="text"> 
            <div *ngIf="productForm.controls.Description.dirty && !productForm.controls.Description.valid">
                <p *ngIf="productForm.controls.Description.errors.required">Value is must</p>
            </div>
        </div>
        <div>
            <label>Base Price</label>
            <input type="text" formControlName="BasePrice" name="BasePrice">
            <div *ngIf="productForm.controls.BasePrice.dirty && !productForm.controls.BasePrice.valid">
                <p *ngIf="productForm.controls.BasePrice.errors.required">Value is must</p>
                <p *ngIf="productForm.controls.BasePrice.errors.isnegative">Value must be positive</p>
            </div>
        </div>
        <div>
            <input type="button" value="Clear" (click)="clear()">
            <input type="submit" value="Save" [disabled]="!productForm.valid">
        </div>
    </form>
</div>

<br><br>

<div>
    <label>Sort :   </label>
    <input name = "sort" type="radio" value="ProductName" (change)="sort($event)">ProductName
    <input name = "sort" type="radio" value="Price" (change)="sort($event)">Price
</div>

<div>
    <label>Reverse : </label>
    <input name = "reverse" type="radio" value="ProductName" (change)="reverse()">ProductName
    <input name = "reverse" type="radio" value="Price" (change)="reverse()">Price
</div>

<table>
    <thead>
        <tr>
            <th *ngFor="let h of headers">{{h}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productList" (click)="getSelectedProduct()">
            <td *ngFor="let h of headers">{{product[h]}} </td>
            <td><input type="button" value="delete"  (click)= "delete(product)" /></td>
        </tr>
    </tbody>
</table>
